<div class="row row-centered pricing-table">
  <div class="col-centered col-lg-3 col-sm-4 col-xs-8">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h2>Starter</h2>
      </div>
      <div class="panel-body">
        <div class="text-center">
           <h2 class="">$12<small> /mo</small></h2>
           <%= link_to "Get Started", new_user_registration_path, class:'btn btn-primary' %>
        </div>
        <br>
        <ul class="list-group">
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
        </ul>
      </div>
    </div>
  </div>
  
   <div class="col-centered col-lg-3 col-sm-4 col-xs-8">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h2>Standard</h2>
      </div>
      <div class="panel-body">
        <div class="text-center">
           <h2 class="">$25<small> /mo</small></h2>
           <%= link_to "Get Started", new_user_registration_path, class:'btn btn-primary' %>
        </div>
        <br>
        <ul class="list-group">
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
        </ul>
      </div>
    </div>
  </div>
  
   <div class="col-centered col-lg-3 col-sm-4 col-xs-8">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
        <h2>Professional</h2>
      </div>
      <div class="panel-body">
        <div class="text-center">
           <h2 class="">$35<small> /mo</small></h2>
           <%= link_to "Get Started", new_user_registration_path, class:'btn btn-primary' %>
        </div>
        <br>
        <ul class="list-group">
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
          <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Benefit</li>
        </ul>
      </div>
    </div>
  </div>
</div>