.pricing-table {
  margin-top: 20px;
  
  .glyphicon-ok {
    color:green;
    margin-right: 5px;
  }
  
  h2 {
    margin-top: 10px;
  }
}

.benefit-img {
  border-radius: 50%;
  margin-bottom: 30px;
}